* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Outfit";
  src: url("../Outfit/static/Outfit-Regular.ttf");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap; /* Optional but recommended for better user experience */
}
@font-face {
  font-family: "Outfit-bold";
  src: url("../Outfit/static/Outfit-Bold.ttf");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap; /* Optional but recommended for better user experience */
}
@font-face {
  font-family: "Outfit-medium";
  src: url("../Outfit/static/Outfit-Medium.ttf");
  font-weight: 400; /* Medium */
  font-style: normal;
  font-display: swap; /* Optional but recommended for better user experience */
}

body {
  font-family: "Outfit", sans-serif;
  color: #252525;
}
/* Language and currency */
  .selected {
  background-color: #f0f8ff;
  border: 1px solid #006AFF;
}
.active-tab {
  border-bottom: 2px solid #000; /* Or your desired style */
  font-weight: bold;
}


/* header css */
#main-header nav {
  font-family: Outfit-medium, sans-serif;
}
/* all headings use Outfit */

h1,
h2 {
  font-family: Outfit-bold, sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff; /* White arrows */
}
.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.7;
}
.swiper-pagination-bullet-active {
  background: #e50914; /* Theme Primary */
  opacity: 1;
}
.dots-swiper .swiper-pagination-bullet {
  background-color: #999999; /* secondary text grey */
  opacity: 1;
}

.dots-swiper .swiper-pagination-bullet-active {
  background-color: #e50914; /* theme primary red */
}

.blogs-swiper .swiper-slide {
  display: flex; /* center content */
  justify-content: center;
}
.blogs-swiper .swiper-slide > div {
  width: 100%; /* full responsive */
  max-width: 320px; /* optional max width */
}
.review-swiper {
  width: 100%;
  overflow: hidden;
  position: relative;
  touch-action: pan-y; /* allow vertical scrolling but not horizontal reflow */
}

/* Lock the height for consistent layout */
.review-swiper .swiper-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For mobile only */
@media (max-width: 768px) {
  html, body {
    height: 100%;
    overflow-x: hidden;
  }

  .review-swiper {
    min-height: 300px; /* adjust for your design */
  }

  .review-swiper .swiper-wrapper {
    transition-timing-function: linear !important;
  }
}
.review-swiper .swiper-slide > div {
  width: 100%; /* full responsive */
  max-width: 600px; /* optional max width */
}